python-weather==2.1.0
langgraph==0.4.9
langchain-openai==0.3.25
datasets==3.6.0
matplotlib==3.10.3
langchain==0.3.26
langchain-community==0.3.26
chainlit
trustcall==0.0.39
pypdf==5.7.0
faiss-cpu==1.11.0
websockets          